body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  .btc{
    display: none;
}
.bts{
    text-align: center;
   
}
.qs{
    display: none;
    height: 600px;
}
.index{
    height: 600px;
}
      
@media screen and(min-width :320px){
    .btt{
        display:inline;
    }
    .dis1{
        display: none;
    }
    .bts{
        display: inline;
        text-align: center;
    }
  
}

@media screen and (min-width: 720px) {
  
    .btt{
        display: none;
    
    }
    .dis1{
        display: inline;
    }
    .btc{
        display: inline;
        text-align: center;
    }
    .bts{
        display: none;
    }
}